h1 {
  color: #34495e;
  font-size: 4rem !important;
  font-weight: bolder !important;
}

h2 {
  color: rgba(34, 49, 63, 0.8);
  font-size: 1.5rem !important;
}

p {
  color: rgba(34, 49, 63, 0.5);
}

.App {
  background-size: cover;
  background-image: url("images/pexels-francesco-ungaro-2835436.jpg");
  background-repeat: repeat-x;
  height: 100vh;
  padding: 100px 50px;
}
