ul {
  list-style-type: none;
}
.date-time-description {
  text-align: right;
}

.current-temp {
  font-size: 70px !important;
}

.current-weather {
  margin-top: 3rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.temp-display {
  display: inline-block;
  vertical-align: middle;
}

.temp-metric {
  color: #8dc6ff;
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
}

.weatherDescription {
  text-transform: capitalize;
}
