ul {
  list-style-type: none;
}
.date-time-description {
  text-align: right;
}

.current-weather {
  margin-top: 3rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.weatherDescription {
  text-transform: capitalize;
}
