.current-temp {
  font-size: 70px !important;
}

.temp-display {
  display: inline-block;
  vertical-align: middle;
}

.temp-metric,
.temp-metric a {
  color: #8dc6ff;
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
}
