.future-weather {
  margin-top: 2rem;
  text-align: center;
}

.future-day {
  color: #8dc6ff;
}

.future-temp-icon {
  font-size: 1.5rem;
  padding: 0px 0px 15px 0px;
}

.future-temp-low {
  color: rgba(141, 198, 255, 0.5);
}
