body {
  margin: 0;
  font-family: "Baloo 2", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background: linear-gradient(0.25turn, #22313f, #6e88a1, #fff);
  margin-top: 4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
