.metric-option input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.metric-option label {
  display: inline-block;
  background-color: #e4f1fe;
  color: #fff;
  padding: 2px 5px;
  border: 2px solid #e4f1fe;
  border-radius: 4px;
}

.metric-option label:hover {
  background-color: #8dc6ff;
  border-color: #8dc6ff;
}

.metric-option input[type="radio"]:checked + label {
  background-color: #22313f;
  border-color: #22313f;
}

.search-city {
  background-color: #8dc6ff;
  border: 1px solid #8dc6ff;
  border-radius: 4px;
  color: #fff;
  display: inline;
  padding: 2px 5px;
}

.search-city-form {
  max-width: 400px !important;
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
}
