.main-container {
  border: 2px solid #e4f1fe;
  border-radius: 25px;
  background: #ffffff;
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  padding: 50px;
}

.search-city-button {
  background-color: #8dc6ff;
  border: 1px solid #8dc6ff;
  border-radius: 4px;
  color: #fff;
  display: inline;
  padding: 10px 15px;
}

.search-city-form {
  width: 100%;
  display: inline-flex;
}
